.card {
    width: 335px;   /* TODO: find more responsive solutions when adjust the screen width */
}

.fakeimg {
    height: 200px;
    /* width: 335px; */
    background: #aaa;
}

.dash-app-title {
    color: #4169E1;  /* Royal blue */
}
